* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 206, 228);
}

.wrapper {

  min-height: calc(100vh - 56px - 40px);
}

.about-img {
  width: 350px;
  height: 350px;
}